microservices/first-backend/target/
microservices/first-backend/pom.xml.tag
microservices/first-backend/pom.xml.releaseBackup
microservices/first-backend/pom.xml.versionsBackup
microservices/first-backend/pom.xml.next
microservices/first-backend/release.properties
microservices/first-backend/dependency-reduced-pom.xml
microservices/first-backend/buildNumber.properties
microservices/first-backend/.mvn/timing.properties

microservices/second-backend/target/
microservices/second-backend/pom.xml.tag
microservices/second-backend/pom.xml.releaseBackup
microservices/second-backend/pom.xml.versionsBackup
microservices/second-backend/pom.xml.next
microservices/second-backend/release.properties
microservices/second-backend/dependency-reduced-pom.xml
microservices/second-backend/buildNumber.properties
microservices/second-backend/.mvn/timing.properties

microservices/second-backend-specs/target/
microservices/second-backend-specs/pom.xml.tag
microservices/second-backend-specs/pom.xml.releaseBackup
microservices/second-backend-specs/pom.xml.versionsBackup
microservices/second-backend-specs/pom.xml.next
microservices/second-backend-specs/release.properties
microservices/second-backend-specs/dependency-reduced-pom.xml
microservices/second-backend-specs/buildNumber.properties
microservices/second-backend-specs/.mvn/timing.properties

microservices/first-backend-specs/target/
microservices/first-backend-specs/pom.xml.tag
microservices/first-backend-specs/pom.xml.releaseBackup
microservices/first-backend-specs/pom.xml.versionsBackup
microservices/first-backend-specs/pom.xml.next
microservices/first-backend-specs/release.properties
microservices/first-backend-specs/dependency-reduced-pom.xml
microservices/first-backend-specs/buildNumber.properties
microservices/first-backend-specs/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!microservices/first-backend/.mvn/wrapper/maven-wrapper.jar
microservices/first-backend/.idea/
microservices/first-backend/.idea
microservices/first-backend/*.iml

!microservices/second-backend/.mvn/wrapper/maven-wrapper.jar
microservices/second-backend/.idea/
microservices/second-backend/*.iml

!microservices/second-backend-specs/.mvn/wrapper/maven-wrapper.jar
microservices/second-backend-specs/.idea/
microservices/second-backend-specs/*.iml

!microservices/first-backend-specs/.mvn/wrapper/maven-wrapper.jar
microservices/first-backend-specs/.idea/
microservices/first-backend-specs/*.iml

.idea/
*.iml
