first-api/target/
first-api/pom.xml.tag
first-api/pom.xml.releaseBackup
first-api/pom.xml.versionsBackup
first-api/pom.xml.next
first-api/release.properties
first-api/dependency-reduced-pom.xml
first-api/buildNumber.properties
first-api/.mvn/timing.properties

second-api/target/
second-api/pom.xml.tag
second-api/pom.xml.releaseBackup
second-api/pom.xml.versionsBackup
second-api/pom.xml.next
second-api/release.properties
second-api/dependency-reduced-pom.xml
second-api/buildNumber.properties
second-api/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!first-api/.mvn/wrapper/maven-wrapper.jar
first-api/.idea/

!second-api/.mvn/wrapper/maven-wrapper.jar
second-api/.idea/

.idea/
