<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Réinitialiser son mot de passe</title>
</head>
<body>
    <form action="/users/password" method="POST">
        <label for="newPassword">Nouveau mot de passe: </label>
        <input type="password" name="newPassword" />
        <label for="confirmNewPassword">Confirmation du mot de passe: </label>
        <input type="password" name="confirmNewPassword"/>
        <button type="submit">Soumettre</button>
        <input type="hidden" th:value="${token}"/>
    </form>
</body>
</html>